.ul {
  list-style-type: upper-alpha;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 150px;
  overflow-y: auto;
}

.li {
  display: flex;
  list-style-type: none;
}

.bg-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qty {
  margin-right: 300px;
}

.button {
  margin-left: 300px;
}
